html, body {
  scroll-behavior: smooth; /* per link interni */
}
html{
    font-size: 30px;
}
body{
     font-family: "Epunda Sans", sans-serif;
     overflow-x: hidden;
     background-color: #ededed;
   }
 
.nav-bar {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    background-color: #f3f3f3; /* sfondo chiaro */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.559);
    position:fixed;
    top: 0;
    height: 70px;
    width: 100%;
    z-index: 1001;
}
.nav-bar .logo .l-img{
  width: 120px;
  height: 70px;
  margin-left: 20px;
}
 .nav-bar ul{
    list-style-type: none;
     display: flex;
     gap: 0;
    margin: 0;
    padding: 0;/* 
    width: 80%; */
    height: 100%;
    margin: auto;
    z-index: 100;
 }
 .nav-bar ul li a{
    display: block;
    height: 100%;
    text-decoration: none;
    font-size: 0.4rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #000000;
    padding: 20px 25px;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease-in-out;
 }
 .nav-bar ul li .ora{
    background-color: #570707;
    color: #f3f3f3;
 }
 .nav-bar ul li a:hover{
    background-color: #e8a445;}
 .hamburger{
   display: none;
   width: 50px;
   height: 36px;
   cursor: pointer;
   flex-direction: column;
   justify-content: space-between;
   z-index: 1001;
   margin-top: 20px;
 }
 .hamburger span{
   background-color:#570707;
   height: 3px;
   border-radius: 3px;
   display: block;
   transition: all 0.4s linear;
 }
@media (max-width: 900px)  {
    #nav-link{
      position: fixed;
      top: 70px;
      left: -100%;
      width: 50%;
      background-color: #f3f3f3f7;
      height: 100vh;
      transition: left 0.5s linear;
      flex-direction: column;
      gap: 0.2rem;
      justify-content: center;
      align-items: center;
      z-index: 10;
   }
   .nav-bar {
    gap: 250px;}
   .nav-bar ul li a{ color:#050505}
    .gallery .gallery-content {
        flex-direction: column; 
        gap: 15px;
        height: 600px;
    }
    .hamburger{ display: flex; position: absolute; top: 0px; right: 40px; }
    #nav-link.active{
     left:0;
    }
    .hamburger.open span:nth-child(1) {
    transform: rotate(45deg) translate(8px, 8px);
  }
  .hamburger.open span:nth-child(2) {
    opacity: 0;
  }
  .hamburger.open span:nth-child(3) {
    transform: rotate(-45deg) translate(15px, -15px);
  }
  .logo{margin-left: 0px;}
 }
 .hero{
   background: url('../img/pizzeria-sfono.jpg');
   background-repeat: no-repeat;
   background-position: center left ;
   background-size:cover;
   width: 100%;
   height: calc(100vh - 70px); 
   margin-top: 70px;  
   display: block;
   position: relative;
   animation: hero_animation 19s infinite linear normal;
 }
 @keyframes hero_animation {
	0% {
		background-position: center top;
		background-size: 150%;
	}

	100% {
		background-position: center  center;
		background-size: cover;
	}
}

.overlay{
  position: absolute;
  left: 0;
  top: 0;
  background:linear-gradient(to right, #1a1919ef,#1a191908);
  width: 100%;
  height: calc(100vh - 70px);
}
 .hero h1{
   font-size: 1.7rem;
   color: #570707c8;
   letter-spacing: 0.14rem;
   text-align: center;
   padding-top: 100px;
   text-transform: uppercase;
   text-shadow: 3px 3px 0 #fffffffb ;
   margin: 4px;
 
 }
 
   .hero h1 span{
    width: 15px;
    height: 15px;
    background-color: #f3f3f35f;
    border-radius: 50%;
    display: inline-block;
   }
 .hero p{
   font-size: 0.7rem;
   font-weight: 500;
    color:#f3f3f3;
   letter-spacing: 0.11rem;
   width: 90%;
   text-shadow: 2px 2px 4px rgba(229, 254, 0, 0.299);
   margin: auto;
   line-height: 1rem;
 }
 @media (max-width: 768px) {
  .overlay {
    background: linear-gradient(to right, rgba(0,0,0,0.7), rgba(0,0,0,0.2));
  }
    .hero h1 {
        font-size: 1.1rem; 
        padding-top: 50px; 
    }

    .hero p {
        font-size: 0.6rem;
        padding: 10px 10px;
        letter-spacing: 0.05rem;
         }
}

  .specialita-gallery{
       width: 100%;

   } 
 section .specialita h2{
   font-size: 1rem;
   color:#e8a445;
   font-weight: 600;
   text-align: center;
   letter-spacing: 0.18rem;
   text-transform: uppercase;
   padding:20px 0;
  }

 .gallery{
   width: 100%;
   margin: auto;
   height: auto;/* 
   background-color: #570707; */
   padding-top: 10px;
   padding-bottom: 10px;
  
   }
 .gallery .gallery-content{
   display: flex;
   gap: 40px;
   width: 95%;
   margin: auto;
   height: 280px;
   margin-bottom: 40px;
   border-radius: 6px;
  /*  padding: 20px ; */
   background-color: #570707; ;
  }
 .gallery .gallery-content img{
   width: 300px;
   height: auto;
   border-bottom-left-radius: 6px;
   border-top-left-radius: 6px;
  }
 .gallery .gallery-content h2{
   font-size: 0.9rem;
   color:#e8a445;
   letter-spacing: .1rem;
   text-align: center;
    text-transform: uppercase;
    padding: 10px 10px;
   /*  width: 400px;
    margin: auto; */
  }

  .gallery .gallery-content p{
   font-size: .55rem;
   color: #f3f3f3;
   letter-spacing: .09rem;
   padding: 15px;
   line-height: 1.2rem;
  }
 .gallery .gallery-content a{
   font-size: .5rem;
   color: #f3f3f3;
   letter-spacing: .09rem;
   padding:15px 25px;
   text-decoration: none;
    border: solid 1px #e8a445;
    margin: 0 50px;

 }
 .gallery .gallery-content a:hover{
  border: solid 1px #f3f3f3;
  }
  .foto {
      width: 100%;
      display: flex;
      flex-wrap: wrap; 
      margin-top:50px;
    }
    .foto-testo {
      flex: 1 1 40%;
      background-color: #570707;
     }

    .foto-testo h2 {
      padding: 50px 0;
      font-size: 1.2rem;
     color:#e8a445;
     letter-spacing: .1rem;
     text-align: center;
      text-transform: uppercase;
      }
    .foto-testo p{
        font-size: .55rem;
        color: #f3f3f3;
        letter-spacing: .09rem;
        line-height: 1.2rem;
        padding:0 15px 30px;
        
     }
    .foto-gallery {
      flex: 2 1 60%;
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      justify-content:flex-start;
      background-color: #570707e2;
      padding: 10px 0 0 10px ;
     }

    .foto-gallery img {
      width: 150px;
      height: 140px;
      object-fit: cover;
      border-radius: 8px;
      cursor: pointer;
      opacity: 0.8;      
      transition: all 0.3s ease-in-out;
      box-shadow: 0 0 5px rgba(255, 255, 255, 0.422);
     }

    .foto-gallery img:hover{
       transform: scale(1.05);
       opacity: 1;
       box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); 
       z-index: 200;
     }

    @media screen and (max-width: 800px) {
      .foto {
        flex-direction: column;
        align-items: center;
      }
      .foto-testo, 
      .foto-gallery {
        width: 100%;
      }
    }
 #social{
  margin-top: 50px;
  width: 100%;
  height: auto;
   background-color:#570707;
   padding-top: 10px;
 }
 .raggiungere{
    width:90%;
    margin: auto ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.2rem;
    background-color: #570707e2;
 }
 .section{
  background-color:#570707e2;
 }
 .section h3 {
  font-size: 0.6rem;
  margin-bottom: 0.4rem;
  text-transform: uppercase;
  color:#f0f0f0;
  letter-spacing: 0.15rem;
}

.section a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-size: 0.4rem;
  margin: 0.2rem 0;
  transition: color 0.3s;
  letter-spacing: 0.11rem;
  font-weight: 500;
}
.section p{
   color: #ffffffc8;
   font-size: 0.4rem;
   letter-spacing: 0.11rem;
   font-weight: 500;
}
.section a:hover {
  color: #e8a445;
}

.section p {
  margin: 0.3rem 0;
  font-size: 0.55rem;
}
/* --- Contenitore principale --- */
.position-contact {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 50px 20px;
  background-color:#570707e2;
}

/* --- Mappa --- */

.map-container iframe {
  border-radius: 3px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  width: 100%;
  max-width: 600px;
  height: 450px;
}

/* --- Form Container --- */
.form-container {
  padding: 30px;
  border-radius: 15px;
  flex: 1;
  min-width: 300px;
}

/* --- Form Fields --- */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Affianca label e input/textarea */
form div {
  display: flex;
  align-items: center;
  gap: 10px; /* distanza tra label e campo */
}

form label {
  flex: 0 0 100px; /* larghezza fissa label */
  font-weight: 600;
  font-size: 0.5rem;
  color:#f3f3f3;
  letter-spacing: 0.11rem;
}

form input, form textarea {
  flex: 1; /* prende tutto lo spazio disponibile */
  padding: 10px;
  border:none;
  border-bottom:solid 1px #fff;
  font-size: 16px;
  box-sizing: border-box;
  resize: none;/* 
  background: transparent */;
  border-radius: 6px;
}

form textarea {
  min-height: 100px;
  resize: none;
}
 form input:focus, form textarea:focus{
  border: none;
  outline: none;
  border-bottom: solid 2px #ffffff;
 }
form button {
  padding: 12px; 
   background-color:#e8a445df;
 font-weight: 700;
  color:#570707;
  width: 300px;
  margin: auto;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.5s linear;
}

form button:hover {
  background-color:#e8a445
}

.checkbox-container {
  margin-left: 50px;
display: inline-block;
  font-size: 10px;
  padding: 10px 10px ;
}

.checkbox-container label a {
  color: #ffffff;
  text-decoration: underline;
  font-size: 12px;
}

.checkbox-container input[type="checkbox"] {
  width: 10px;
  height: 10px;
  cursor: pointer;
  color: #ffffff;
}

@media (max-width: 900px) {
  .checkbox-container {
    flex-direction: row; 
  }
  
}


@media (max-width: 768px) {
  form div {
    flex-direction: column;
    align-items: stretch;
  }

  form label {
    flex: none;
    margin-bottom: 5px;
  }
  form button{
    width: 90%;
  }
}


 @media screen and (max-width: 768px) {
  .position-contact{
    width: 100%;
  }
  .position-center{
    width: 100%;
  }
  
    .gallery .gallery-content img {
        width: 100%;   
        height: 300px;
        border-bottom-left-radius: 0;
        border-top-right-radius: 6px;
        
    }
  .gallery .gallery-content{
    height: auto;
    padding-bottom: 30px;;
  }
    .gallery .gallery-content h2 {
        font-size: 0.7rem;
        text-align: center;
    }

    .gallery .gallery-content p {
        font-size: 0.5rem;
    }
    html{
      font-size: 24px;
    }
    
  section .specialita h1{
   font-size: 1.1rem;}

   .raggiungere {
    flex-direction: column;
    text-align: center;}
    
    .nav-bar .logo .l-img{
 
  margin-left: 0px;
}
footer .footer-center  { 
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: center;
}
footer .footer-center .footer-content{
  width: 50%;
  text-align: center;
}
  .footer-content h2 {
    font-size: 0.8rem;
    margin: 10px 0;
  }

  .footer-content ul li a {
    font-size: 0.6rem;
    width: auto;
  }

  .footer-privacy p {
    font-size: 0.55rem;
    line-height: 1.4;
  }

  .logo-footer {
    width: 100px;
    height: auto;
  }
}
footer{
  width: 100%;
  background-color: #000000;
  height: auto;
  padding: 30px 30px;
}
footer .footer-center{
  width: 95%;
  margin: auto;
  padding: 20px 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
footer .footer-center .footer-content {
  flex: 1 1 25%; 
  }
  .footer-content h2{
    color:#f3f3f3;
    text-transform: uppercase;
    letter-spacing: 1.1;
    font-size: 0.4rem;
    margin: 20px 20px;
    letter-spacing: 0.11rem;
    text-align: center;
  }
  .footer-content ul{
    list-style-type: none;
  }
  .footer-content ul li a{
    display: block;
    width: 90px;
    margin: 10px auto 0;
    color: #f3f3f3;
    font-size: 0.3rem;
    letter-spacing: 0.11rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.4s linear;
  }
  .footer-content ul li a:hover{
    color: #e8a445;
  }
  .footer-privacy{
    display: block;
    width: 95%;
    margin: 20px auto 0 ;
    clear: both; 
  }
  .footer-privacy p{
      padding-top: 20px;
    border-top: 1px solid #f3f3f3;
      text-align: center;
    color: #f3f3f3;
    font-size: 0.38rem;
    letter-spacing: 0.11rem;
    text-transform: uppercase;
 
  }
  .logo-footer{
    width: 80px;
    height: 70px;
    opacity: 0.8;
    border-radius: 8px;
  }
.whatsapp{
  position: fixed;
  bottom: 5%;
  right:2%;
  background-color:#0cb54ac1; ;
  width: 70px;
  height: 70px;
  border-radius:48%;
}
.whatsapp a{
  color:#f3f3f3;
   font-weight: 800;
   text-decoration: none;
   font-size: 14px;
   text-align: center;
   margin-top: 25px;
   display: block;
   transition: all .4s ease;
}
.whatsapp:hover{ background-color: #0c8438c1;}
.su{
  position: fixed;
  left: 5%;
  bottom: 5%px;
  display: block;
  background-color: #ccc;
  width: 200px;
  height: 200px;
}
.su img{display: block; height:120; width: 120px;}
  /*----------- CSS PAGINA ORDINA------*/

    .opzioni{
    width: 100%;
    height:auto;
    padding-top:10px;
    padding-bottom:10px;
    margin-top:50px;
    margin-bottom: 40px;
   }
.opzioni-container{
  display:flex;
  flex-wrap:wrap;
  gap:30px;
  width: 95%;
  margin:40px auto 0px;
  
}
.opzioni-container .opzione-box{
  flex:1 1 350px;
  background-color:#570707e2;/* 
  border-radius:4px; */
  height:auto;
  padding:10px;
  transition: all 0.4s ease-in-out;
}
.opzioni-container .opzione-box:hover{

  box-shadow: 1px 0 4px rgba(65, 64, 64, 0.4)
}
.opzione-box h2{
  display: block;
  margin:30px auto 40px;
  color:#e8a445df;
  font-size:1rem;
  text-align:center;
  font-family:"Epunda sans", sans-serif;
  letter-spacing:0.14rem;
  text-transform:uppercase;
}
 .opzione-box p{
  color:#f1f1f1;
  font-size:.55rem;
  line-height: 1rem;
  text-align:center;
  font-weight:500;
  font-family:"Epunda sans", sans-serif;
  letter-spacing:0.09rem;
  margin-bottom:20px;
}
 .opzione-box a{
  display:block;
  width: 280px;
  background-color:#e8a445b1;
  margin:  auto  ;
  padding:20px;
  color:#050505;
  font-size:0.5rem;
  text-align:center;
  font-family:"Epunda sans", sans-serif;
  letter-spacing:0.08rem;
  text-transform:uppercase;
  border-radius:6px;
  text-decoration:none;
  transition: all 0.4s linear;
  font-weight:700;
}
.opzione-box a:hover{
   background-color:#e8a445;
}
section .opzione-telefono{
  width: 95%;
  margin:auto ;
  text-align:center;
  height:auto;
  padding-bottom:10px;
  background-color:#570707e2;
  padding-top: 15px;
}
section .opzione-telefono h2{
  margin:30px auto 40px;
  color:#e8a445;
  font-size:1rem;
  text-align:center;
  font-family:"Epunda sans", sans-serif;
  letter-spacing:0.14rem;
  text-transform:uppercase;
  font-weight:800;
}
section .opzione-telefono p{
  margin:30px auto 40px;
  color:#f1f1f1;
  font-size:0.7rem;
  text-align:center;
  font-family:"Epunda sans", sans-serif;
  letter-spacing:0.11rem;
}
section .opzione-telefono a{
  display:block;
  width: 250px;
  border:solid 1px #e8a445;;
  margin: 10px auto 30px ;
  padding:15px;
  color:#f3f3f3;
  font-size:0.5rem;
  text-align:center;
  font-family:"Epunda sans", sans-serif;
  letter-spacing:0.14rem;
  text-transform:uppercase;
  border-radius:6px;
  text-decoration:none;
  transition: all 0.4s linear;
  font-weight:700;
}
section .opzione-telefono a:hover{
   background-color:#e8a445;
}
.opzione-posizione{
  display:block;
  width:95%;
  margin:10px auto 20px;
  height:auto;
  text-align:center;
  background-color:#570707e2;
  padding-top:20px;
  padding-bottom:20px;
}
.opzione-posizione h2{
  font-size:1.14rem;
  font-weight:900;
  color:#e8a445;
  margin:10px 10px;
  letter-spacing:.13rem;
  text-transform:uppercase;
}
.opzione-posizione p{
  color:#f3f3f3;
  letter-spacing:.09rem;
  font-weight:500;
  margin:10px;
  font-size:.55rem;
  line-height: 1rem;
}


/* css manu.php*/

    .menu-tabs {
      text-align: center;
      margin:  0;
    }
    .menu-tabs button {
      padding: 10px 20px;
      margin: 1px;
      border: none;
      border-radius: 6px;
      background: #e8a445;
      color: #fff;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.4s linear;
    }
    .menu-tabs button:hover {
      background: #570707;
    }
    #search {
      display: block;
      margin: 10px auto 30px;
      padding: 10px;
      width: 60%;
      max-width: 400px;
      border: 1px solid #ccc;
      border-radius: 6px;
      font-size: 16px;
    }
    .menu-grid {
      display: none;
      grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
      gap: 10px;
      width: 90%;
      margin: 0 auto 20px;
    }
    .menu-grid.active { display: grid; }
    .card {
      background: #fff;
      border-radius: 8px;
      box-shadow: 0 2px 6px rgba(0,0,0,0.15); 
      overflow: hidden;
      text-align: center;
      padding: 10px;
    }
    .card img {
      width: 100%;
      height: 150px;
      object-fit: cover;
      border-radius: 6px;
    }
    .card h3 {
      margin: 5px 0 5px;
      font-size: 18px;
      color: #570707;
    }
    .card p {
      margin: 0;
      color: #333;
      font-weight: bold;
      font-size:0.5rem
    }
.menu-ordine h5{
   font-size: 1.1rem;
   color:#e8a445;
   letter-spacing: .11rem;
   text-align: center;
    text-transform: uppercase;
    padding: 10px 10px;
    width: 400px;
    margin: auto;
  
}